.main-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    /* border: 2px solid red;  */
}


.header{
    display:flex;
    flex-direction: row;
    height:8%;
    width:100vw;
    /* border: 2px solid red; */
}

.left-header {
    display:flex;
    flex-direction: row;
    width:13%;
    height: 100%;
    /* border: 2px solid green; */
}

.menu, .logo{
    display:flex;
    height:100%;
    width:25%;
    border:1px solid transparent;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: src/; */
    /* margin:0px 4px; */
    /* padding:12px; */
}
.menu:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.val{
    display: flex;
    height:24px;
    width:24px;
    /* border:2px solid green; */
}
.logo1{
    display: flex;
    flex-direction:column;
    height:44px;
    width:40px;
    margin-left:4%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    /* border:2px solid green; */
}

.keep{
    display:flex;
    height:100%;
    width:50%;
    border:1px solid transparent;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    font-family: Roboto,Arial,sans-serif;

}

.search-bar{
    display: flex;
    flex-direction: row;
    height:100%;
    width:50%;
    border:1px solid grey;
    /* background-color: #F5F5F5; */
    box-shadow:0 1px 7px rgb(128, 128, 128);
    border-radius:6px;
    margin-left:6%;
}


.search-icon{
    display: flex;
    border:1px solid transparent;
    height:100%;
    width: 8%;
    justify-content: center;
    align-items: center;
}
#search-input {
    border:1px solid transparent;
}

.search-icon:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.search-input{
     display: flex;
     width:95%;
     border:2px solid transparent; 
}

.search-input1{
    font-size:1.5vw;
    font-family: Roboto,Arial,sans-serif;

    /* height: 100%; */
    width:100%;
}

.mid-header{
    display:flex;
    flex-direction: row;
    width:11%;
    height: 100%;
    /* border: 2px solid green; */
    margin-left: 7%;
}

.refresh, .list, .settings{
    display:flex;
    height:100%;
    width:33%;
    border:1px solid transparent;
    justify-content:center;
    align-items:center;

}

.refresh:hover{
    border-radius: 50%;
    background-color: #F5F5F5;

}
.list:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.settings:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.right-header{
    display:flex;
    flex-direction: row;
    width:8%;
    height: 100%;
    margin-left:3%;
    /* border: 2px solid yellow; */

}

.google-aps{
    display:flex;
    height:100%;
    width:50%;
    border:1px solid transparent;
    justify-content: center;
    align-items: center;

}

.google-aps:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.gb_Ve{
    height:24px;
    width:24px;
    /* border:1px solid black; */
}

.profile{
    display:flex;
    height:99%;
    width:50%;
    /* border:1px solid black; */
    /* border-radius:100px; */
}

.profile-img{
    border:3px solid transparent;
    border-radius:50%;
}

.takeNote1{
    display: flex;
    flex-direction: row;
    height:6.5%;
    width:45%;
    border:1px solid grey;
    box-shadow:0 1px 7px rgb(128, 128, 128);
    border-radius:6px;
    left:30%;
    position:absolute;

    margin-top:6%;
    /* display: none; */
}
.notes{
    width: 66%;
    height: 96%;
    /* border:3px solid red; */
    position: absolute;
}

.notes1{
    height:90%;
    width:98%;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1.2vw;
    font-family: Roboto,Arial,sans-serif;

}

.icons1{
    display: flex;
    flex-direction: row;
    height:100%;
    width:30%;
    /* border:1px solid blue; */
    margin-left:70%;
    position:absolute;
}

.new-list, .new-draw, .new-image{
    display:flex;
    height:100%;
    width:33%;
    border:1px solid transparent;
    justify-content: center;
    align-items: center;
}
.new-list:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}
.new-draw:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.new-image:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.takeNote2{
    display:flex;
    flex-direction:column;
    position: absolute;
    /* background-color: red; */
    min-height:50px;
    width:45%;
    border:1px solid grey;
    border-radius: 6px;
    margin-left:30%;
    margin-top:6%;
    display:none;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

.js-is-hidden {
    display: none;
  }
  
.title{
    display:flex;
    flex-direction:row;
    height:40px;
    width:99.2%;
    background-color:inherit;
    /* border:2px solid red; */
}

.title1{
    display:flex;
    background-color: inherit;
    /* border:2px solid black; */
    height: 100%;
    padding-left: 8px;
    width:70%;
}

.title2{
    display:flex;
    height:100%;
    width:100%;
    background-color:inherit;
    border: 1px solid transparent;
    /* border: 2px solid red; */
}

.tnotes{
    display:flex;
    height:45px;
    width: 99%;
    background-color:inherit;
    background-color:inherit;
    /* border: 1px solid green; */

    border:1px solid transparent;
}
.tnotes1{
    width:98%;
    font-size:1.2vw;
    padding:8px;
    font-family: Roboto,Arial,sans-serif;
    background-color: inherit;
    /* border: 1px solid blue; */
    overflow:hidden;

    border:1px solid transparent;
}
    .owners{
    display:flex; 
    flex-direction:row;
    /* position:absolute; */
    /* border:1px solid yellow; */
    min-height: 1px;
    /* margin-top: 19%; */
    width: 99.5%;
    /* display: none; */
    overflow:hidden;
    font-family:Arial,sans-serif;

}

.own{
    display: flex;
    flex-direction:column;
    margin-left: 5px;
    margin-left: 0%;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}

.col{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
    font-family:Roboto,Arial,sans-serif;
    /* font-size:18px; */
    font-weight: normal;
    /* margin-top: 1px; */
    /* border:0.5px solid grey; */
    

}

.owl{
    padding:7px;
}

.ticons1{
    display:flex;
    flex-direction: row;
    height:15%;
    /* margin-top:9%; */
    width:99.2%;
    /* border:2px solid red; */
}

.ticons{
    display:flex;
    flex-direction: row;
    height:100%;
    width:56%;
    /* border: 2px solid green; */
}

.reminder, .collab, .colors, .add-image, .archive, .more{
    display:flex;
    height:100%;
    width:16.5%;
    border:1px solid transparent;
    justify-content: center;
    align-items: center;
}
.reminder:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.collab:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.colors:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}
.add-image:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.archive:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}

.more:hover{
    border-radius: 50%;
    background-color: #F5F5F5;
}
.close{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: Roboto,Arial,sans-serif;

    height:90%;
    width:15%;
    border:1px solid transparent;
    margin-left:25%;
}

.close:hover{
    /* border-radius: 50%; */
    background-color: #F5F5F5;
}

.close-button{
    border:1px solid transparent;
    height:100%;
    width:100%;
    font-size: 1.2vw;
    font-family: Roboto,Arial,sans-serif;

    background-color:transparent;
}


.Collaborator{
    display:flex;
    flex-direction:column;
    position: absolute;
    /* height:30%; */
    width:45%;
    min-height:30%;
    border:1px solid grey;
    border-radius: 6px;
    margin-left:30%;
    margin-top:6%;
    display:none;
    z-index: 5;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

.collab-head{
    display:flex;
    height:40px;
    width:99%;
    /* border: 1px solid blue; */
    margin-left: 1%;
    font-size: 1.6vw;
    font-family:Roboto,Arial,sans-serif;
    align-items: center;
}

.collab-email{
    display:flex;
    align-items:center;
    height:40px;
    width:99%;
    margin-left: 1%;
    /* border: 1px solid blue; */
}

.ownerMap{
    display:flex;
    flex-direction: column;
    /* border:1px solid green; */
    max-height: 100px;

    /* overflow:scroll; */
    overflow-y: scroll;
    scrollbar-width: 0px;
    width: 99%;
    margin-left:1%;
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.collab-add{
    display:flex;
    align-items:center;
    height:50px;
    width:99%;
    margin-left: 1%;
    /* border: 1px solid red; */
    margin-top: 10px;
}


.collab-addp{
    display: flex;
    border:1px solid grey;
    justify-content:center;
    align-items: center;
    height:90%;
    width:8%;
    border-radius: 50%;
}
.ce-owner{
    display:flex;
    flex-direction:column;
    /* justify-content:space; */
    /* font-size:1vw; */
    font-family:Roboto,Arial,sans-serif;
}


.collab-addInput{
    display:flex;
    min-height:100%;
    overflow:hidden;
    width: 92%;
    /* border: 2px solid transparent; */
}
#collabInput{
    min-height:90%;
    overflow:hidden;
    width: 100%;
    border: 1px solid transparent;
}

.collab-buttons{
    display:flex;
    align-items:center;
    height:40px;
    width: 100%;
    justify-content:space-around;
    flex-direction: row;
    background-color: #F5F5F5;
    
}

#cancelButton{
   
    margin-left: 60%;
    border:1px solid transparent;
  
    font-size: 1.2vw;
    font-family: Roboto,Arial,sans-serif;

    background-color:transparent;
}
#saveButton{
    border:1px solid transparent;
    
    font-size: 1.2vw;
    font-family: Roboto,Arial,sans-serif;

    background-color:transparent;
}


.colt{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* border : 1px solid grey; */
    z-index: 3;
    background-color: white;
    /* height:40%; */
    max-height:200px;
    width:30%;
    display: none;
    overflow:scroll;
    font-family:Arial,sans-serif;
    /* width:15%; */
    margin-left:30%;
    margin-top: 23.5%;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}
.collabDiv{
    height:23px;
    /* border:1px solid grey; */
    font-size: 1.2vw;
    font-family: Arial,sans-serif;;
    /* height: 20%; */
}

.collabDiv:hover {
    /* background-color:rgb(208, 211, 212); */
}

.remiderListing{
    display:flex;
    /* flex-direction:column; */
    /* justify-content: center;
    align-items:center; */
    background-color:inherit;
    padding-left:12px;
    color: #202124;
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 17px;
    /* border:1px solid red; */
    height:40px;
    min-width:100px;
    overflow:hidden;

}
.chip {
    display: inline-block;
    /* display:flex;
    flex-direction:row;
    justify-content:center; */
    /* align-items:flex-start; */
    align-items: center;
    /* padding: 0 25px; */
    min-height: 1px;
    min-width: 10px;
    font-size: 17px;
    overflow: hidden;
    color: #202124;
    /* font-weight: bold; */
    /* line-height: 50px; */
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #91979e;
    opacity: 0.5;
    /* color: white; */
 }

 #sTime{
     color:#202124;
     height:40px;
     width:40px;
     /* border: 1px solid green; */
 }


.popup {
    position: absolute;
    margin-top:12%;
    /* height:13px; */
    /* width: 13px; */
    margin-left: 42%;
    display: flex;
    cursor: pointer;
    user-select: none;
    /* border:2px solid red; */
  }
  
  /* The actual popup */
  .popuptext {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
    visibility: hidden;
    width: 140px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 0px light rgb(228, 230, 227);
    color: #fff;
    /* text-align: center; */
    /* border-radius: 6px; */
    /* padding: 8px 0; */
    position: absolute;
    /* z-index: 1; */
    bottom: 125%;
    left: 50%;
    margin-top: 20%;;
    margin-left: -80px;
    border:1px solid rgb(240, 235, 235);
    /* display:none; */
  }

  /* Popup arrow */
  .popuptext::after {
    content: "";
    /* color: rgb(78, 87, 88); */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* border:3px solid black; */
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    /* color: black; */
    /* border: 2px solid black; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .show{
      /* display: flex; */
  }
 
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


.flex-container {
    display: flex;
    justify-content:flex-start;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    min-height:55%;
    width:78%;
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 11.3%;
    margin-left: 11%;
    z-index: 0;
    /* z-index: -1; */
    /* overflow:hidden; */
}

.note{
    

}

.iconDiv:hover {
    /* background-color:red; */
    
}

.tDiv{
    display: flex;
    align-items: center;
    height:15px;
    width: 85%;
    padding:12px;
    font-family: Roboto,Arial,sans-serif;
    
    /* border: 1px solid grey; */
    font-size:15px;

}

*:focus {
    outline: none;
  }

.dDiv{
    display:flex;
    /* align-items: center; */
    min-height:15px;
    width: 85%;
    padding:12px;
    font-size:15px;
    /* border: 1px solid grey; */
    font-family: Roboto,Arial,sans-serif;

}

.ownerListing{
    padding-left:12px;
    min-height: 1px;
    /* border: 1px solid grey; */
}
/* .remiderListing{
    display: flex; */
    /* display: none; */

    /* min-height: 1px; */
    /* border:1px solid red; */
/* } */

.iconDiv{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:10px;
    /* height: 40%; */
    height:20px;
    width: 100%;
    visibility:hidden;
    /* border: 1px solid grey; */
}

.note:hover .iconDiv{
    visibility: visible;
}




.dypop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #fff;
    border:0.55px solid grey;
    height:80px;
    width:130px;
    margin-left: 45px;
    display:none;
    /* z-index: 5; */
    /* margin-bottom: 300px; */
}

.colPick{
    
    border:1px solid black;
}

.chooseColor{
    width:25px;
    height:20px; 
    border:0.5px solid grey;
    border-radius: 50%;
    margin: 2px 2px 2px 2px;
}

.ex{
    display:flex;
    align-items: center;
    /* border:1px solid green; */
    height: 100%;
    width: 16%;
}

.shrink-sidebar{
    display: flex;
    flex-direction: column;
    height:90%;
    width: 17%;
    /* border:1px solid red; */
    position:absolute;
    /* overflow:hidden; */
    margin-top: 5%;
    position: absolute;
    /* display: none; */
}

#sh :hover {
    border : 2px solid red;
    display: none;
    


}

.shrink-notes, .shrink-reminders, .shrink-labels, .shrink-archive, .shrink-trash{
    display: flex;
    height: 55px;
    width: 100%;
    /* border:1px solid green; */
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}


.expand-sidebar{
    display: flex;
    flex-direction: column;
    height:90%;
    width: 17%;
    margin-top: 5%;
    /* border-right:1px solid grey; */
    /* box-shadow: 10px 0 5px -2px #888; */
    box-shadow: 2px 0px 2px grey;

    /* box-shadow:0 1px 7px rgb(128, 128); */
    /* changed */
    /* border:1px solid grey; */

    display:none;
    position: absolute;

}

.expand-notes, .expand-reminders, .expand-labels, .expand-archive, .expand-trash{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 100%;
    /* border:2px solid green; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* justify-content: center; */
    /* align-items: center; */

}

.one{
    height:200px;
    width:100px;
    margin: 1em 1em 1em 1em;
    /* border: 2px solid green; */
}

.expand-notes1, .expand-reminders1, .expand-labels1,.expand-archive1, .expand-trash1{
    display: flex;
    height: 55px;
    width: 55px;
    /* border:1px solid yellow; */
    justify-content: flex-start;
    align-items: center;

}

.enotes, .ereminders, .elabels, .earchive, .etrash{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto,Arial,sans-serif;

    font-size:1.2vw;
    width: 65%;

    /* border:1px solid red; */
}
.test1{
    /* z-index: 5; */
    /* border: 2px solid red; */
}

.timePopper{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 3;
    margin-left: 32%;
    margin-top: 16.5%;
    height: 30%;
    width:20%;
    /* border:1px solid blue; */
    display: none;
    border-radius: 6px;
    background-color:#fff;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

.datepicker1{
    /* border:1px solid red; */
  
    width:100%;
    height:20%;

}


.timepicker1{
    
    /* border:1px solid red; */
    margin-top: 10px;
    width:100%;
    height:20%;

}
#datepicker{
    border:0.5px solid gray;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    /* border:1px solid transparent; */
    height:100%;
    width:98.5%;
}

#timepicker{
    height:100%;
    width:98.5%;
    border:0.5px solid gray;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}



.pickTime{
    display: flex;
    align-items: center;
    height: 20%;
    width:100%;
    border:0.5px solid gray;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    /* border: 1px solid grey; */
}

.timeButton{
    display: flex;
    /* border:1px solid red; */
    margin-top: 20px;
    height: 20%;
    width: 100%;

    /* align-items: center; */
    
}

.saveTime{
    display:flex;
    margin-left:70%;
    align-items:center;
    justify-content:center;
    border:1px solid transparent;
    height:100%;
    width:30%;
    font-size: 1.2vw;
    font-family: Roboto,Arial,sans-serif;
    background-color:transparent;
    /* border:2px solid black; */

}





@media only screen and (max-width: 600px) and (min-width: 200px)  {

    *:focus {
        outline: none;
      }
    .search-bar{
        display:none;
        /* width:30%; */

    }   

    .keep{
        font-size: 11px;
    }
   .takeNote1{
    margin-top:20%;
    width:80%;
    margin-left: -20%;
    height:5%;
   }
   .notes1{
       font-size:  15px;

   }

   .takeNote2{
       margin-top:20%;
       width: 80%;
       /* border:4px solid black; */
       margin-left: 11%;
       z-index: 5;
       display:none;
   }
   .tnotes1{
       font-size:15px;
   }
   .left-header{
    /* border:1px solid red; */
    width:30%;
    height:45px;
}

.mid-header{
    /* border: 1px solid red; */
    width: 20%;
    height:45px;
    margin-left:24%;
}
.right-header{
    /* border:1px solid red; */
    width: 30%;
    margin-left:0%;
    height:45px;
    

}

   .shrink-sidebar{
       margin-top: 10%;
   }

   .expand-sidebar{
    margin-top: 10%;
  }

  .flex-container{
      margin-top:55%;
  }
  .val{
      display:block;
  }


  .ticons1{
    display:flex;
    flex-direction: row;
    height:35%;
    width:100%;
    /* margin-top:20%; */
    /* border:2px solid red; */
}
.close-button{
    /* border:2px solid red; */
    height:20px;
    font-size: 10px;
}

.popup{
    margin-top:45%;
    margin-left: 33%;
}
.popuptext{
    /* border:2px solid red; */
    /* margin-top: 50%; */
}
.owners{
    /* margin-top:38%; */
    /* border:2px solid blue; */
}

.ticons{
    display:flex;
    flex-direction: row;
    height:100%;
    width:56%;
    /* border: 2px solid green; */
}
.Collaborator{
    display:flex;
    flex-direction:column;
    position: absolute;
    /* height:30%; */
    top: 5%;
    width:85%;
    max-height:35%;
    border:1px solfid grey;
    border-radius: 6px;
    margin-left:13%;
    margin-top:6%;
    display:none;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}
#cancelButton{
    height:80%;
    width:50px;
    font-size: 10px;
    /* border:1px solid red; */

}
#saveButton{
    height:80%;
    width:50px;
    font-size: 10px;
    /* border:1px solid red; */
}
.collab-buttons{
    
    height:35px;
    width: 100%;
}
.colt{
    max-height:200px;
    overflow: scroll;
    width:85%;
    margin-left:10%;
    margin-top: 290px;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

/* .tesdsd{
    max-height : 200px;
    overflow: scroll;
} */
.collabDiv{
    /* margin-left: 6%; */
    font-size: 13px;
}
.tesds{
    margin-top:30px;
}

.timePopper{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 3;
    margin-left: 13%;
    margin-top: 54%;
    height: 30%;
    width:80%;
    /* border:1px solid blue; */
    display: none;
    border-radius: 6px;
    background-color:#fff;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

/* .flex-container{
    margin-top:73%;
    height:40px;

} */

.reminder, .collab, .colors, .add-image, .archive, .more{
    display:flex;
    height:100%;
    width:16.5%;
    border:1px solid transparent;
    justify-content: center;
    align-items: center;
}
.note {
    flex: 0 0 200px;
    /* width: 200px; */
    /* height: 200px; */
    display:flex;
      flex-direction: column;
      min-height:35%;
      width: 20%;
      overflow: hidden;
      /* border: 1px solid grey; */
      margin: 1em 1em 1em 1em;
      border-radius:8px;
      
  
    border: 1px solid #CCC;
    /* margin: 12px; */
    /* border-radius: 10px; */
  }

  .tDiv, .dDiv{
      font-size:15px;
  }
  .saveTime{
      font-size:  15px;
      /* border:1px solid red; */
  }
  .reminderListing{
    /* border:1px solid red; */

   }
}


  
   
@media only screen and (max-width: 799px) and (min-width: 650px)  {

    *:focus {
        outline: none;
      }
    .search-bar{
        /* display:none; */
        width:50%;
        height:50px;
        /* border: 2px solid green; */

    }   

    .keep{
        font-size: 20px;
    }
   .takeNote1{
    margin-top:20%;
    width:80%;
    margin-left: -20%;
    height:5%;
   }

   .takeNote2{
       margin-top:20%;
       width: 80%;
       margin-left: 15%;
       display:none;
   }
   .tnotes1{
       font-size:20px;
   }
   .title2{
       font-size: 15px;
   }
   .left-header{
    width:20%;
     height:50px;

}

.mid-header{
    width: 15%;
    /* margin-left:46%; */
     height:50px;

}
.right-header{
    width: 15%;
    height:50px;
    margin-left:0%;
}


   .shrink-sidebar{
       margin-top: 10%;
   }

   .expand-sidebar{
    margin-top: 10%;
  }

  /* .flex-container{
      margin-top:55%;
  } */
  .val{
      display:block;
  }


  .ticons1{
    display:flex;
    flex-direction: row;
    height:35%;
    width:100%;
    margin-top:20%;
    /* border:2px solid red; */
}
.close-button{
    /* border:2px solid red; */
    height:35px;
    font-size: 20px;
}

.popup{
    margin-top:45%;
    margin-left: 33%;
}
.popuptext{
    /* border:2px solid red; */
    /* margin-top: 50%; */
}
.owners{
    /* border:2px solid blue; */
}

.ticons{
    display:flex;
    flex-direction: row;
    height:100%;
    width:56%;
    /* border: 2px solid green; */
}
.Collaborator{
    display:flex;
    flex-direction:column;
    position: absolute;
    /* height:30%; */
    top: 5%;
    width:85%;
    height:25%;
    border:1px solid grey;
    border-radius: 6px;
    margin-left:10%;
    margin-top:6%;
    display:none;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}
#cancelButton{
    height:80%;
    width:50px;
    font-size: 10px;
    /* border:1px solid red; */

}
#saveButton{
    height:80%;
    width:50px;
    font-size: 10px;
    /* border:1px solid red; */
}
.collab-buttons{
    margin-top:16%;
    
    height:35px;
    width: 100%;
}

.colt{
    min-height:23px;
    width:85%;
    margin-left:10%;
    margin-top: 75%;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}
.collabDiv{
    /* margin-left: 6%; */
    font-size: 13px;
}

.timePopper{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 3;
    margin-left: 13%;
    margin-top: 54%;
    height: 30%;
    width:80%;
    /* border:1px solid blue; */
    display: none;
    border-radius: 6px;
    background-color:#fff;
    box-shadow:0 1px 7px rgb(128, 128, 128);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin-top:28%;

}

.reminder, .collab, .colors, .add-image, .archive, .more{
    display:flex;
    height:100%;
    width:16.5%;
    border:1px solid transparent;
    justify-content: center;
    align-items: center;
}
.note {
    flex: 0 0 200px;
    /* width: 200px; */
    /* height: 200px; */
    display:flex;
      flex-direction: column;
      min-height:35%;
      min-width: 250px;
      overflow: hidden;
      /* border: 1px solid grey; */
      margin: 1em 1em 1em 1em;
      border-radius:8px;
      
  
    border: 1px solid #CCC;
    /* margin: 12px; */
    /* border-radius: 10px; */
  }

  .tDiv, .dDiv{
      font-size:15px;
  }
  .saveTime{
      font-size:  15px;
      /* border:1px solid red; */
  }

   }
