
body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #333;
  
}

.note {
  /* flex: 0 0 200px; */
  /* width: 200px; */
  /* height: 200px; */
     display:flex;
    flex-direction: column;
    min-height:20px;
    width: 23%;
    /* overflow: hidden; */
    /* border: 1px solid grey; */
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius:8px;
    

  border: 1px solid #CCC;
  /* margin: 12px; */
  /* border-radius: 10px; */
}

.modal-container {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border:4px solid red; */
  background-color: rgba(33, 33, 33, 0.5);
}

.modal-container--open {
  display: block;
}

.modal {
  position: absolute;
  /* border: 2px solid red; */
  top: 150px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 280px;
  
  transform-origin: top left;
  will-change: transform; /* makes the animation run smoother */

  background-color:white;
  border-radius: 10px;
}

.modal-head{
  display: flex;
  height:23%;
  width:100%;
  border: px solid transparent;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a73e8;
  color: #fff;
  align-items: center;
  font-size: 1.3vw;
  font-family: 'Roboto',arial,sans-serif;
}

.modal-input{
  display: flex;
  height:22%;
  width:99.9%;
  border: 1px solid transparent;
  /* border: 2px solid red; */
  /* background-color:blue; */
  align-items: center;

}

.sub-note2{
  display: flex;
  height:100%;
  width:100%;
  border: 1px solid transparent;
}
*:focus {
  outline: none;
}

.modal-text{
  display: flex;
  height:30%;
  width:99.7%;
  /* border: 1px solid red; */
  /* border: 1px solid transparent; */
  /* border: 2px solid yellow; */
  /* background-color:blue; */
  align-items: center;
}

.content{
  border: 1px solid transparent;
  display: flex;
  height:100%;
  width:100%;
  
}

.modal-iconContainer{
  display: flex;
  flex-direction: row;
  height:21%;
  width: 99.%;
  border: 1px solid transparent;
  /* border:2px solid black; */
  background-color:  white;
}

.modal-icons{
  display: flex;
  flex-direction: row;
  width:65%;
  height:100%;
  /* background-color: white; */
  /* border: 2px solid green; */
}

.modal-close{
  display: flex;
  height:100%;
  width:18%;
  /* background-color:white; */
  /* border:1px solid yellow; */
  margin-left: 18%;

}
.mclose-button{
  border: 1px solid transparent;
  /* border:1px solid red; */
  background-color:white;
  width:100%;
  height:100%;
}